<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tscale.tsexplorer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ScaleChargeActivity"
            android:label="@string/title_activity_scale_charge"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".setting.CountSettingActivity"
            android:label="CountSettingActivity" />
        <activity
            android:name=".details.ProductDetails"
            android:label="@string/title_activity_product_details" >
        </activity>
        <activity
            android:name=".details.ProductDetailsFix"
            android:label="@string/title_activity_product_details" >
        </activity>
        <activity
            android:name=".details.AddProduct"
            android:label="@string/title_activity_product_details"></activity>

        <activity
            android:name=".zxing.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            android:label="@string/title_activity_product_details" >
        </activity>
    </application>

</manifest>
